<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <style>
        #master{
            height: 100svh;
            display: flex;
            justify-content: flex-start; 
            align-items: center;
            flex-direction: column;
            overflow: hidden;
            background:  linear-gradient(45deg, #100010 0%, #050030 20%, #150030 50%, #050030 80%, #100010 100%);
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <div id="master">

    </div>
</body>
</html>