:root{
    --x: 0px;
    --xPercent: 0;
    --scroll: 0px;
    --lockSize: 64px;
}

/* Background styling */
body{
    margin: 0;
    padding: 0;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.master{
    height: 100svh;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background:  linear-gradient(45deg, #100010 0%, #050030 20%, #150030 50%, #050030 80%, #100010 100%);
    background-size: 1000% 1000%;
    background-repeat: no-repeat;
    animation: moveBG 50s ease infinite;
}
@keyframes moveBG {
    0%{background-position: 0% 0%;}
    25%{background-position: 0% 100%;}
    50%{background-position: 100% 0%;}
    75%{background-position: 100% 100%;}
    100%{background-position: 0% 0%;}
}

/* Header styling */
#header{
    align-self: stretch;
    display: flex;
    flex-direction: column;
}
#header .buttonContainer{
    background: linear-gradient(90deg, transparent 70%, white);
    background-size: 200% 100%;
    background-position-x: var(--x);
    transition: background-position-x 0.5s ease-out;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    height: 50px;
}
#header .underline{
    height: 5px;
    background: linear-gradient(90deg,  white 49%, transparent 51%);
    background-size: 200% 100%;
    background-position-x: var(--scroll);
    transition: background-position-x 0.5s ease-out;
}
#header .buttonContainer .headerButton{
    border: 0px;
    height: 50px;
    padding-right: 1%;
    padding-left: 1%;
    margin: 0;
    font-size: 25px;
    cursor: pointer;
    background: linear-gradient(transparent, white);
    background-position-y: 50px;
    background-repeat: no-repeat;
    color: white;
    transition: background-position-y 0.5s, color 0.5s, font-size 0.5s;
}
#header .buttonContainer .headerButton:hover{
    font-size: 30px;
    background-position-y: 0;
    color: #202020;
}
#header .buttonContainer .headerButton:active{
    background-position-y: 50px;
    color: white;
}


/* Content container styling */
#contentContainer{
    width: 100%;
    height: 100svh;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}
#contentContainer::-webkit-scrollbar {
    display: none;
}
  
#contentContainer {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

/* Email panel styling */
#emailContainer{
    position: absolute;
    color: white;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: fit-content;
    gap: 30px;
}
#emailContainer.hidden{
    display: none;
}
#emailContainer #emailButton{
    padding: 20px;
    cursor: pointer;
    border-color: white;
    border-width: 6px;
    border-style: solid;
    border-radius: 100%;

    box-shadow: inset 0 0 0;
    transition: box-shadow 0.3s linear;
}
#emailContainer #emailButton:hover{
    box-shadow: inset 0 0 15px white;
}
#emailContainer .icon{
    width: 50px;
    height: 50px;
}
#emailContainer #emailButton #emailIcon{
    background-image: url("../assets/email_561127.png");
    background-size: contain;
    width: 50px;
    height: 50px;
}
#emailContainer form #sendIcon{
    background-image: url("../assets/SendPostIcon.png");
    background-size: contain;
    flex-shrink: 0;
    width: 90px;
    height: 90px;
}
#emailContainer form button{
    border: 0;
    border-radius: 100%;
    background-color: transparent;
    box-shadow: inset 0 0 0;
    transition: box-shadow 0.3s linear;
}
#emailContainer form button:hover{
    box-shadow: inset 0 0 17px white;
}
#emailContainer form{
    width: 0;
    height: 50vh;
    transform: scaleY(0);
    transform-origin: bottom center;
    transition: transform 0.5s ease-in-out, width 0.5s linear;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
}
#emailContainer form input,
#emailContainer form textarea{
    font-size: large;
}
#emailContainer form :nth-child(1), 
#emailContainer form :nth-child(2){
    flex-grow: 1;
}
#emailContainer form :nth-child(3){
    flex-grow: 4;
}
#emailContainer form textarea{
    width: auto;
}
#emailContainer form.active{
    width: 50vw;
    transform: scaleY(1);
}