/* Basic styling */
h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    letter-spacing: 3px; 
}
h2{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    letter-spacing: 3px;
}
h3{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    letter-spacing: 3px;
}
a{
    text-decoration:none;
    cursor: pointer !important;
}
section{
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
p{
    color: white;
    font-size: 25px;
    line-height: 120%;
}
h1, h2, h3, p{
    /* cursor: default; */

    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
iframe{
    border-radius: 10px;
    box-shadow: 0 0 3px white;
}
#subMain{
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* RevealContainer styling */
#revealContainer{
    align-self: stretch;
}
#revealContainer .reveal .description{
    flex-shrink:  5;
    flex-grow: 0;
}
#revealContainer .reveal{
    opacity: 0;
    transition: all 0.5s ease-out;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
}
#revealContainer .reveal:nth-child(even){
    transform: translateX(200px);
    justify-content: flex-end;
}
#revealContainer .reveal:nth-child(even) .description{
    border-right-width: 10px;
    border-right-color: white;
    border-right-style: solid;
    margin-right: 30px;
    text-align: right;
    padding-right: 5px;
}
#revealContainer .reveal:nth-child(odd){
    transform: translateX(-200px);
    justify-content: flex-start;
}
#revealContainer .reveal:nth-child(odd) .description{
    border-left-width: 10px;
    border-left-color: white;
    border-left-style: solid;
    margin-left: 30px;
    text-align: left;
    padding-left: 5px;
}
#revealContainer .active{
    opacity: 1;
}
#revealContainer .reveal.active{
    transform: translateX(0px);
}
#revealContainer .reveal.description{
    font-style: italic;
    font-size: 15px;
}

/* Reference window (Portfolio) */
#revealContainer .reveal .reference{
    cursor: pointer;
    height: 300px;
    width: 300px;
    margin: 20px;
}
#revealContainer .reveal .reference .referenceImage{
    height: 300px;
    width: 300px;

    background-size: cover;
    overflow: visible;
    position: absolute;

    border-radius: 20px;
    border-width: 2px;
    border-color: black;
    border-style: solid;

    transition: transform 0.3s ease-in-out;
}
#revealContainer .reveal:nth-child(even) .reference .referenceImage{
    top: 0;
    right:0;
}
#revealContainer .reveal:nth-child(odd) .reference .referenceImage{
    top: 0;
    left:0;
}
#revealContainer .reveal:nth-child(even) .reference:hover :nth-child(2){
    transform: translateX(-20px) translateY(-20px) rotateZ(-10deg);
}
#revealContainer .reveal:nth-child(even) .reference:hover :nth-child(1){
    transform: translateX(-40px) translateY(-40px) rotateZ(-20deg);
}
#revealContainer .reveal:nth-child(odd) .reference:hover :nth-child(2){
    transform: translateX(20px) translateY(-20px) rotateZ(10deg);
}
#revealContainer .reveal:nth-child(odd) .reference:hover :nth-child(1){
    transform: translateX(40px) translateY(-40px) rotateZ(20deg);
}

/* Contact styling */
#contactContainer{
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 40px
}
#contactContainer .contact{
    cursor: pointer;
    width: 300px;
    height: 300px;
    
    border-width: 6px;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background: linear-gradient( #4b004b 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: bottom;

    box-shadow: inset 0 0 0 white;

    transition: background-position 0.5s ease-out, box-shadow 0.5s ease-in, border-color 0.5s linear;
}
#contactContainer .contact h2{
    cursor: pointer;
}
#contactContainer .contact:hover{
    box-shadow: inset 0 15px 10px rgba(255, 255, 255, 0.534);
    border-color: rgba(255, 255, 255, 0.534);
    background-position: top;

}
#contactContainer .contact .icon{
    width: 100px;
    height: 100px;
    background-size: contain;
}
#contactContainer .contact #emailIcon{
    background-image: url("../assets/email_561127.png");
}
#contactContainer .contact #phoneIcon{
    background-image: url("../assets/phone.png");
}
#contactContainer .contact #linkedInIcon{
    background-image: url("../assets/LinkedIn_logo_initials.png");
}

/* Direct email styling */
#emailSection #textBox{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
#emailSection #contactForm{
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 110px;
    grid-template-rows: 1fr 1fr 110px;
}
#emailSection #contactForm #contactBody{
    grid-row: span 2;
}
#emailSection #contactForm input[type = email],
#emailSection #contactForm input[type = text]{
    width: 70%;
    height: fit-content;
    align-self: top;
    justify-self: center;
}
#emailSection .button{
    justify-self: center;
    align-self: center;

    width: fit-content;
    height: fit-content;
    padding: 20px;
    cursor: pointer;
    border-color: white;
    border-width: 6px;
    border-style: solid;
    border-radius: 100%;

    box-shadow: inset 0 0 0;
    transition: box-shadow 0.3s linear;
}
#emailSection .button:hover{
    box-shadow: inset 0 0 15px white;
}
#emailSection .icon{
    width: 50px;
    height: 50px;
}
#emailSection #contactForm button{
    background-color: transparent;
}
#emailSection #contactForm #sendIcon{
    background-image: url("../assets/SendPostIcon.png");
    background-size: contain;

}
#emailSection #contactForm a{
    height: auto;
    justify-self: center;
    align-self: center;
    width: 70%;
}
#emailSection #contactForm #externalEmail{
    font-style: italic;
    font-weight: normal;
    padding: 4px;
    border:rgba(255, 255, 255, 0.521) solid 0px;
    transition: all 0.2s ease-in-out;
}
#emailSection #contactForm #externalEmail:hover{
    border-width: 1px;
    border-radius: 20px;
    box-shadow: -10px 7px 10px white ;
}


/* TODO */
.loadSpinner{
    background-image: url("../assets/circle.png");
    background-size: cover;
    height: var(--lockSize);
    width: var(--lockSize);
    flex-grow: 5;
    flex-shrink: 0;
    animation: loadAnim 3s linear infinite ;
}
@keyframes loadAnim {
    0%{
        transform: rotateZ(0deg);
    }25%{
        transform: rotateZ(90deg);
    }50%{
        transform: rotateZ(180deg);
    }75%{
        transform: rotateZ(270deg);
    }100%{
        transform: rotateZ(360deg);
    }
}