h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    letter-spacing: 3px; 
}
h2{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    letter-spacing: 3px;
}
section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
p{
    color: white;
    font-size: 25px;
    line-height: 120%;
}
textarea{
    resize: none;
    width: 30%;
    background-color: #300030;
    border: solid 2px white;
    color: white;
    font-size: 15px;
    overflow: visible;
    align-self: stretch;
}
input[type = text], input[type = password]{
    color: white;
    background-color:#300030;
    padding: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 5px white;
    border: 0;
    border-radius: 5px ;

} 
iframe{
    border-radius: 10px;
    box-shadow: 0 0 3px white;
}
#subMain{
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#passwordReset{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-self: flex-start;
    margin-left: 10%;
}
#revealContainer{
    align-self: stretch;
}
#revealContainer .reveal p{
    flex-shrink:  5;
    flex-grow: 0;
}
#revealContainer .reveal{
    opacity: 0;
    transition: all 0.5s ease-out;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
}
#revealContainer .reveal:nth-child(even){
    transform: translateX(200px);
    justify-content: flex-end;
}
#revealContainer .reveal:nth-child(even) p{
    border-right-width: 10px;
    border-right-color: white;
    border-right-style: solid;
    margin-right: 30px;
    text-align: right;
    padding-right: 5px;
}
#revealContainer .reveal:nth-child(odd){
    transform: translateX(-200px);
    justify-content: flex-start;
}
#revealContainer .reveal:nth-child(odd) p{
    border-left-width: 10px;
    border-left-color: white;
    border-left-style: solid;
    margin-left: 30px;
    text-align: left;
    padding-left: 5px;
}
#revealContainer .active{
    opacity: 1;
}
#revealContainer .reveal.active{
    transform: translateX(0px);
}
.description{
    font-style: italic;
    font-size: 15px;
}
#revealContainer .reveal.forumButton{
    transform: scale(100%);
    cursor: pointer;
}
#revealContainer .reveal.forumButton:hover{
    transform: scale(105%);
}
.commentContainer{
    width: 100%;
    height: 0;
    background-color: green;
}
.commentContainer.show{
    height: 500px;
}

.keyContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: stretch;
    height: 100%;
}
.keyContainer textarea{
    width: 98%;
}
.keyContainer :nth-child(1){
    flex-grow: 3;
}
.keyContainer :not(:first-child){
    flex-grow: 1;
}
.widget{
    background-image: url("../assets/circle.png");
    background-size: cover;
    height: var(--lockSize);
    width: var(--lockSize);
    flex-grow: 5;
    flex-shrink: 0;
    animation: widgetAnim 3s linear infinite ;
}
@keyframes widgetAnim {
    0%{
        transform: rotateZ(0deg);
    }25%{
        transform: rotateZ(90deg);
    }50%{
        transform: rotateZ(180deg);
    }75%{
        transform: rotateZ(270deg);
    }100%{
        transform: rotateZ(360deg);
    }
}
#encryptBoxContainer{
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.encryptContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: auto;
    overflow: hidden;
    height: 0vh;
    width: 0%;
    transition: all 0.2s ease-out;
}
.appear{
    height: 50vh;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.encryptType{
    cursor: pointer;
    transition: all 0.3s ease;
}
.encryptType:hover{
    font-size: 35px;
    text-shadow: 0 0 2px white;
    letter-spacing: 10px;
}

.encryptButton{
    background-color: #300030;
    padding: 5px;
    border-radius: 15px;
    border: solid 1px white;
    box-shadow: 0 0 5px gray;
    transition: 0.2s ease-out background-color;
}
.encryptButton:hover{
    background-color: #003030;
}
.encryptButton:active{
    background-color: white;
}

.invform{
    display: flex;
    flex-direction: row;
}
